@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Knewave&family=Maven+Pro:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  nav a {
    @apply cursor-pointer;
  }
  .mobile-menu a {
    @apply cursor-pointer;
  }
  .hero h1 {
    @apply clip-text;
    background: linear-gradient(91.3deg, #ff5937 26.13%, #ffd837 69.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .token .clip-text {
    background: linear-gradient(169.65deg, #fff960 -34.09%, #ff8c22 100.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .features .feature {
    @apply min-h-[146px] rounded-[30px] border border-[#6850FF] flex items-center py-[10px] px-[10px] gap-[20px];
  }
  .features .feature .text1 {
    @apply mb-[2px] text-[30px] font-bold font-Rajdhani;
  }
  .features .feature .text2 {
    @apply text-[#969EB2] leading-[26px] font-Poppins;
  }

  .roadmap .item {
    @apply h-fit rounded-[20px] py-[20px] px-[10px];
  }
  .roadmap .item > div {
    @apply flex items-center gap-[5px];
  }
  .roadmap .item > div > div {
    @apply border-[3px] border-white rounded-full;
  }
  .roadmap .item > div p {
    @apply text-[30px] font-Rajdhani font-bold;
  }
  .roadmap .item ul {
    @apply mt-[10px] text-[#969EB2] font-Poppins leading-[24px];
  }
  .roadmap .item li {
    @apply list-disc list-outside ml-[20px];
  }

  .howto .item {
    @apply rounded-[20px] py-[20px] px-[10px] bg-[#00000047];
  }
  .howto .item > div {
    @apply flex items-center gap-[5px];
  }
  .howto .item > div > div {
    @apply rounded-full shrink-0;
  }
  .howto .item > div p {
    @apply text-[30px] font-Rajdhani font-bold leading-none;
  }
  .howto .item ul {
    @apply mt-[10px] text-[#969EB2] font-Poppins leading-[24px];
  }
  .howto .item li {
    @apply list-disc list-outside ml-[20px];
  }
}

body {
  background-color: #0d0914;
  color: white;
}

.clip-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .clip-side {
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}
nav .btn1,
.mobile-menu .btn1 {
  background: linear-gradient(315deg, #ff8c22 0%, #ff9326 56%, #fff960 100%);
}
nav .btn2,
.mobile-menu .btn2 {
  background: linear-gradient(315deg, #3c2974 0%, #101112 100%);
}

.hero {
  background-image: url("./assets/heroBg.png");
  background-size: cover;
  background-position: center;
}

.hero button {
  background: linear-gradient(152.2deg, #fff960 -15.84%, #ff8c22 89.58%);
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #7d7d7d 0%, #ffffff 100%);
  box-shadow: 0px 0px 0px 5px #fff960;
}
/* .hero button:hover {
  box-shadow: 0px 0px 0px 5px #fff960;
} */

.about h1 {
  background: linear-gradient(169.65deg, #fff960 -34.09%, #ff8c22 100.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .about > div {
  border: 2px solid transparent;
  border-image-source: linear-gradient(180deg, #3c2974 0%, #101112 100%);
  border-image-slice: 1;
  border-radius: 54px;
} */

.roadmap .main {
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
}
.roadmap .item {
  background: linear-gradient(
    137.34deg,
    rgba(27, 28, 54, 0.16) 23.98%,
    rgba(112, 113, 122, 0.16) 65.73%
  );
  border: 1px solid;
  border-image-source: linear-gradient(
    81.07deg,
    #2c2d47 53.33%,
    #1b1c36 93.73%
  );
}

footer .clip1 {
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 15% 100%);
}
footer .clip2 {
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
}
